vgg*
runs/
seeds*
datasets_masked/
*.mp4
EQUATION_OUTPUT.latex
.ropeproject
*.keras
MNIST.keras
imagetests/
emperors-new-noesis/builddir
*.profraw
__pycache__/
MNIST_tf_model.pb
.venv
*~
\#*
.#*
*.lock
.lake
lake-manifest.json
build
GPATH
GRTAGS
GSYMS
GTAGS
.projectile
.lean_options
.vs
compile_commands.json
*.idea
tasks.json
settings.json
.gdb_history
*.produced.out
CMakeSettings.json
CppProperties.json
result
fwIn.txt
fwOut.txt
wdErr.txt
wdIn.txt
wdOut.txt
bin
lib
include
lib64
pyvenv.cfg
share
stats*
SilverBullet/model-zoo
silver_bullet/
*.tex
*.so
setup.c
ver2.c
.vscode/
datasets/
data/*
